{% extends 'userLayout.html' %} {% block title %} User - Profile {% endblock%}
{% block content %}

<div class="main_content_iner">
  <div class="container-fluid p-0 sm_padding_15px">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="white_card card_height_100 mb_30">
          <div class="white_card_header"></div>
          <form method="post" action="{% url 'editUserProfile' %}">
            {% csrf_token %}
            <div class="white_card_body">
              <h6 class="card-subtitle mb-2">Profile</h6>
              <label class="form-label mt-2" for="basic-url">Name</label>
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Name"
                  name="name"
                  aria-label="Name"
                  value="{{request.session.name}}"
                />
              </div>
              <label class="form-label mt-2" for="basic-url">Email</label>
              <div class="input-group mb-3">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  value="{{request.session.email}}"
                  disabled
                />
              </div>
              <label class="form-label mt-2" for="basic-url">Role</label>
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  name="role"
                  value="{{request.session.role}}"
                  disabled
                />
              </div>
              <label class="form-label mt-2" for="basic-url">Contact</label>
              <div class="input-group mb-3">
                <input
                  type="number"
                  class="form-control"
                  name="contact"
                  value="{{request.session.contact}}"
                />
              </div>
              <input
                type="hidden"
                class="form-control"
                name="id"
                value="{{request.session.id}}"
              />
              <button type="submit" class="btn btn-primary mt-2">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
