{% extends 'layout.html' %}
{% block title %} Detail Product {% endblock %}
{% block content %}

<div class="banner_inner">
    <div class="services-breadcrumb">
        <div class="inner_breadcrumb">

            <ul class="short">
                <li>
                    <a href="{% url 'index' %}">Home</a>
                    <i>|</i>
                </li>
                <li>{{dish.name}}</li>
            </ul>
        </div>
    </div>

</div>

</div>
<!--//banner -->
<!--/shop-->
<section class="banner-bottom-wthreelayouts py-lg-5 py-3">
    <div class="container">
        <div class="inner-sec-shop pt-lg-4 pt-3">
            <div class="row">
                    <div class="col-lg-4 single-right-left ">
                            <div class="grid images_3_of_2">
                                <div class="flexslider1">
            
                                    <ul class="slides">
                                        <li data-thumb="{{dish.image.url}}">
                                            <div class="thumb-image"> <img src="{{dish.image.url}}" data-imagezoom="true" class="img-fluid" alt=" "> </div>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 single-right-left simpleCart_shelfItem">
                            <h3>{{dish.name}} ({{dish.food_type.type}})</h3>
                            <p><span class="item_price">${{dish.price}}</span></p>
                            <p>Stock: <span class="item_price">{{dish.stock}}</span></p>
                            <div class="description">
                              <h5>{{dish.description}}</h5>
                            </div>
                            {% if dish.stock != 0 %}
                            <div id="input_div">
                              <input type="button" value="-" id="moins" onclick="minus()" class="btn btn-outline-primary">
                              <input type="text" value="1" id="count" class="btn btn-outline-primary font-secondary" disabled>
                              <input type="button" value="+" id="plus" data-stok="{{dish.stock}}" onclick="plus()" class="btn btn-outline-primary">
                            </div>
                            <div class="occasion-cart mt-2">
                              <div class="googles single-item singlepage">
                                <button class="googles-cart pgoogles-cart add-to-cart" data-id-product="{{dish.id}}" data-quantity="1">Add to cart</button>
                              </div>
                            </div>
                            {% endif %}
                          </div>
                          
                        <div class="clearfix"> </div>
                        <!--/tabs-->
                        <div class="responsive_tabs">
                            <div id="horizontalTab">
                                <ul class="resp-tabs-list">
                                    <li>Reviews</li>
                                </ul>
                                <div class="resp-tabs-container">
                                    <!--/tab_one-->
                                    <div class="tab1">
            
                                        <div class="single_page">
                                            <h6>Lorem ipsum dolor sit amet</h6>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elPellentesque vehicula augue eget nisl ullamcorper, molestie
                                                blandit ipsum auctor. Mauris volutpat augue dolor.Consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                                ut lab ore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. labore et dolore
                                                magna aliqua.</p>
                                            <p class="para">Lorem ipsum dolor sit amet, consectetur adipisicing elPellentesque vehicula augue eget nisl ullamcorper, molestie
                                                blandit ipsum auctor. Mauris volutpat augue dolor.Consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                                ut lab ore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. labore et dolore
                                                magna aliqua.</p>
                                        </div>
                                    </div>
                                    <!--//tab_one-->
                                    <div class="tab2">
            
                                        <div class="single_page">
                                            <div class="bootstrap-tab-text-grids">
                                                <div class="bootstrap-tab-text-grid">
                                                    <div class="bootstrap-tab-text-grid-left">
                                                        <img src="/static/images/team1.jpg" alt=" " class="img-fluid">
                                                    </div>
                                                    <div class="bootstrap-tab-text-grid-right">
                                                        <ul>
                                                            <li><a href="#">Admin</a></li>
                                                            <li><a href="#"><i class="fa fa-reply-all" aria-hidden="true"></i> Reply</a></li>
                                                        </ul>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elPellentesque vehicula augue eget.Ut enim ad minima veniam,
                                                            quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis
                                                            autem vel eum iure reprehenderit.</p>
                                                    </div>
                                                    <div class="clearfix"> </div>
                                                </div>
                                                <div class="add-review">
                                                    <h4>add a review</h4>
                                                    <form action="#" method="post">
                                                            <input class="form-control" type="text" name="Name" placeholder="Enter your email..." required="">
                                                        <input class="form-control" type="email" name="Email" placeholder="Enter your email..." required="">
                                                        <textarea name="Message" required=""></textarea>
                                                        <input type="submit" value="SEND">
                                                    </form>
                                                </div>
                                            </div>
            
                                        </div>
                                    </div>
                                    <div class="tab3">
            
                                        <div class="single_page">
                                            <h6>Irayz Butterfly Sunglasses  (Black)</h6>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elPellentesque vehicula augue eget nisl ullamcorper, molestie
                                                blandit ipsum auctor. Mauris volutpat augue dolor.Consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                                ut lab ore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. labore et dolore
                                                magna aliqua.</p>
                                            <p class="para">Lorem ipsum dolor sit amet, consectetur adipisicing elPellentesque vehicula augue eget nisl ullamcorper, molestie
                                                blandit ipsum auctor. Mauris volutpat augue dolor.Consectetur adipisicing elit, sed do eiusmod tempor incididunt
                                                ut lab ore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. labore et dolore
                                                magna aliqua.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--//tabs-->
            
            </div>
        </div>
    </div>
        <div class="container-fluid">
            <!--/slide-->
            <div class="slider-img mid-sec mt-lg-5 mt-2 px-lg-5 px-3">
                <!--//banner-sec-->
                <h3 class="tittle-w3layouts text-left my-lg-4 my-3">Discover the Freshest Flavors Await</h3>
                <div class="left-ads-display col-lg-12">
                    <div class="wrapper_top_shop">
                        <div class="row">
                            {% for dish in dishes %}
                            <div class="col-md-3 product-men women_two">
                              <div class="product-googles-info googles">
                                <div class="men-pro-item">
                                  <div class="men-thumb-item">
                                    <img src="{{dish.image.url}}" class="img-fluid" alt="" />
                                    <div class="men-cart-pro">
                                      <div class="inner-men-cart-pro">
                                        <a href="{% url 'detail-product' slug=dish.slug %}" class="link-product-add-cart"
                                          >Quick View</a
                                        >
                                      </div>
                                    </div>
                                  </div>
                                  <div class="item-info-product">
                                    <div class="info-product-price">
                                      <div class="grid_meta">
                                        <div class="product_price">
                                          <h4>
                                            <a href="{% url 'detail-product' slug=dish.slug %}">{{dish.name}}</a>
                                          </h4>
                                          <div class="grid-price mt-2">
                                            Price:<span class="money">${{dish.price}}</span><br />
                                            Type: <span class="money">{{dish.food_type.type}}</span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="clearfix"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!--//slider-->
        </div>
</section>

{% endblock %}


{% block js %}
<script>
    var count = 1;
    var countEl = document.getElementById("count");
  
    function plus() {
      let stok = $('#plus').attr('data-stok');
      if (stok == 0) {
        count++;
        countEl.value = count;
        $('.add-to-cart').attr('data-quantity', count);
      } else {
        if (count < stok) {
          count++;
          countEl.value = count;
          $('.add-to-cart').attr('data-quantity', count);
        }
      }
    }
  
    function minus() {
      if (count > 1) {
        count--;
        countEl.value = count;
        $('.add-to-cart').attr('data-quantity', count);
      }
    }
  
    $(document).on("click", ".add-to-cart", function(e) {
      e.preventDefault();
      let product_id = $(this).data("id-product");
      let quantity = $(this).data("quantity");
  
      $.ajax({
        type: "POST",
        data: {
          csrfmiddlewaretoken: "{{ csrf_token }}",
          product_id: product_id,
          quantity: quantity
        },
        url: "{% url 'addToCart' %}",
        success: function(data) {
          $('#cartCount').text(data.cartCount);
          countEl.value = 1;
          count = 1;
          alertify.set("notifier", "position", "top-right");
          if (data.code == 201) {
            alertify.notify("Success Updated Quantity in Cart", "success", 3000);
          } else if (data.code == 202) {
            alertify.notify("This Product has reached the maximum quantity in Cart", "error", 3000);
          } else {
            alertify.notify("Success Added to Cart", "success", 3000);
          }
        },
        error: function() {
          alertify.set("notifier", "position", "top-right");
          alertify.notify("An error occurred while adding to cart", "error", 3000);
        }
      });
    });
  </script>
  
{% endblock %}